/*--------------GENERAL--------------*/
* {
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Sanchez', serif;
}

h2 {
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

section {
  padding: 0 9%;
  position: relative;
  padding-top: 61px; /*To count out the navbar*/
  padding-bottom: 25px;
}

a {
  text-decoration: none;
}


/*--------------NAVBAR--------------*/
.navbar {
  background-color: white;
  padding: 10px 8.3%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar li {
  display: inline-block;
  padding: 10px;
}

.navbar a {
  color: #303030;
  text-decoration: none;
}

.navbar a:hover {
  color: black;
}

.active-nav{
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

/*--------------HOMEPAGE--------------*/

#homepage .textbox {
  display: inline-block;
  width: 49%;
  padding-top: 7%;
  padding-right: 11%;
  vertical-align: top;
}

.textbox .heading {
  font-size: 3.6vw;
  font-weight: 400;
  margin-bottom: 20px;
  animation: fadeInLeft;
  animation-duration: 1.4s;
}

.textbox .subheading {
  font-size: 1.2vw;
}

.textbox .info {
  color: #737373;
  margin: 20px 0;
  max-width: 700px;
  font-size: 1.05vw;
}

.textbox .button {
  box-shadow: 3px 4px 0px 0px #abacad;
  background-color: #facead;
  border-radius: 22px;
  border: 2px solid #000000;
  display: inline-block;
  cursor: pointer;
  font-family: 'Sanchez', serif;
  font-size: 1.05vw;
  padding: 11px 40px;
  transition: background-color 0.4s ease;
  color: black;
}

.button:hover {
  background-color: #b8d1b8;
}

.button:active {
  position: relative;
  top: 2px;
}

#homepage img {
  display: inline-block;
  width: 39%;
  min-width: 396px;
}

.divider1 {
  border-style: dotted none none none;
  border-width: 4px;
  color: #cce8cc;
  width: 100%;
  margin-top: 50px;
}


/*--------------PORTFOLIO--------------*/
.portfolio-box {
  background-color: #fcf6e5;
  display: block;
  border: 1px solid #facead;
  border-radius: 40px;
  padding: 45px;
}

.portfolio-box .heading {
  margin: 0 0 40px;
  text-align: center;
}

iframe {
  border: 3px solid #facead;
  border-radius: 15px;
  height: 45vh;
  width: 55%;
  min-width: 500px;
  max-width: 600px;
}

.portfolio-box .textbox {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 35%;
  max-width: 520px;
  min-width: 330px;
  padding: 0 4%;
}

.textbox .project-name {
  display: inline-block;
  margin-bottom: 20px;
}

.textbox .description {
  display: inline-block;
  color: #737373;
}

.description span{
  font-weight: bold;
}

.description a{
  color: #737373;
}

.description a:hover{
  color: black;
}


/*--------------ABOUT--------------*/
#about {
  text-align: center;
}

#about .heading {
  margin: 0 0 20px;
  text-align: center;
}

.box-container{
  display: inline-block;
  margin: 1.5%;
}

.overlapping-box{
  cursor: pointer;
  background-color: #cce8cc;
  position: absolute;
  display: inline-block;
  border: 5px solid #b8d1b8;
  border-radius: 45px;
  width: 320px;
  height: 250px;
  text-align: center;
  padding: 20px;
}

.overlapping-box .click-me{
  font-size: 3em;
  color: #b8d1b8;
  margin-top: 30%;
}

.box-animation{
  animation: fadeOut;
  animation-duration: 0.7s;
}

.bucket-box {
  display: inline-block;
  border: 5px dotted #cce8cc;
  border-radius: 45px;
  width: 320px;
  height: 250px;
  text-align: center;
  padding: 20px;

}

.bucket-box img {
  width: 200px;
  height: 200px;
}

.bucket-box .subheading {
  font-size: 1.15em;
  font-weight: 400;
  display: inline-block;
  margin-top: 20px;
}

.divider2 {
  border-style: dotted none none none;
  border-width: 4px;
  color: #facfad;
  width: 100%;
  margin-top: 60px;
}


/*--------------FEEDBACK--------------*/
#feedback .heading {
  text-align: center;
  margin-bottom: 45px;
}

#feedback form{
  line-height: 2;
  vertical-align: top;
  display: inline-block;
  width: 50%;
}

form .radio-container{
  margin-right: 5%;
  display: inline-block;
  position: relative;
}

.radio-choice{
  opacity: 0; /*To hide the actual radio button*/
}

.checkbox {
  position: absolute;
  top: 8px;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px solid #737373;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.checkbox:hover{
  background-color: #fcf6e5;
}

.radio-container input:checked ~ .checkbox {
  background-color: #facfad;
}

.radio-text{
  margin-left: 8px;
}

form .slider {
  -webkit-appearance: none;
  width: 72%;
  height: 6px;
  border-radius: 20px;
  border: 1px solid #737373;
  background: #fcf6e5;
  opacity: 0.6;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.9;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #737373;
  background: #facfad;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

form .form-text{
  width: 70%;
  padding: 5px;
  font-family: 'Sanchez', serif;
}

form .submit-button {
  box-shadow: 3px 4px 0px 0px #abacad;
  background-color: #facead;
  border-radius: 22px;
  border: 2px solid #000000;
  display: inline-block;
  cursor: pointer;
  font-family: 'Sanchez', serif;
  font-size: 1rem;
  padding: 11px 40px;
  transition: background-color 0.4s ease;
  color: black;
  margin-top: 15px;
}

.submit-button:hover {
  background-color: #b8d1b8;
}

.submit-button:active {
  position: relative;
  top: 2px;
}

#feedback .image-box {
  display: inline-block;
  width: 45%;
  text-align: center;
}

.image-box img {
  width: 80%;
  max-width: 520px;
  min-width: 400px;
}


/*--------------FOOTER--------------*/
footer{
  margin-top: 40px;
  background-color: #facfad;
  border-top: 1px solid black;
  text-align: center;
  padding: 30px
}

.icons a{
  color: #737373;
  margin: 7px;
}

.icons a:hover{
  color: #fcf6e5;
}

#footer .copyright{
  margin-top: 15px;
}


/*-------------------------------------When screen is smaller than 927px-------------------------------------*/
@media screen and (max-width: 1255px)
{
  /*--------------NAVBAR--------------*/
  .navbar{
    text-align: center;
    padding: 10px 0;
  }


  /*--------------HOMEPAGE--------------*/
  #homepage {
    text-align: center;
  }

  #homepage .textbox{
    padding-right: 0;
    width: 100%;
  }

  .textbox .heading {
    font-size: 50px;
  }

  .textbox .subheading {
    font-size: 18px;
  }

  .textbox .info {
    font-size: 16px;
    margin: 20px auto;
  }

  .textbox .button{
    margin-bottom: 20px;
    font-size: 16px;
  }


  /*--------------PORTFOLIO--------------*/
  .portfolio-box{
    text-align: center;
  }

  iframe {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 0px;
  }

  .portfolio-box .textbox {
    width: 90%;
    margin-top: 20px;
    max-width: 900px;
    min-width: 0px;
  }


  /*--------------ABOUT--------------*/
  .overlapping-box{
    width: 250px;
    height: 200px;
  }

  .bucket-box {
    width: 250px;
    height: 200px;
  }

  .bucket-box img {
    width: 150px;
    height: 150px;
  }

  .bucket-box .subheading {
    font-size: 0.9em;
  }


  /*--------------FEEDBACK--------------*/
  #feedback{
    text-align: center;
  }

  #feedback form {
    width: 100%;
  }

  form .submit-button {
    margin-bottom: 20px;
  }

  #feedback .image-box {
    width: 70%;
  }

}

/*-------------------------------------Inspiration and Learnings page-------------------------------------*/
.presentation-body{
  text-align: center;
  padding: 8% 28%;
}

.presentation-body .heading{
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}

.presentation-body a{
  display: block;
  margin: 10px auto;
  color: black;
}

.list {
  text-align: left;
  color: #737373;
}

.list span{
  color: black;
}

.list .if{
  color: darkorchid;
}

.list .stuck{
  color: orangered;
}

.list .take-break{
  color: royalblue;
}
